/*
 * alert box
 */

.alert {
  z-index: 9999;
  position: relative;
}

/*
 * profile cirles
 */

.img-circle {
  height: 32px!important;
  width: 32px!important;
  float: left!important;
}
span .user-circle {
  border-radius: 50%;
  height: 32px!important;
  width: 32px!important;
  border: 1px solid #000;
  display:inline-block;
  float: left;
  margin-right: 1px;
}
span .user-circle p {
  margin: 0px;
  height: 32px;
  width: 32px;
  padding: 0;
  position: relative;
  left: 6px;
  top: 5px;
}

/* Spinner and text in connect page*/
.spinner{
    position: absolute;
    left: 22px;
    top: 19px;
}

/* icons */
.folderIcon{
    margin-right: 5px;
    width: 25px;
    height: 25px;
}
.settingIcon{
  width: 25px;
  margin-top: 2px;
}


/* welcome page */
html,body { height: 100%!important; margin: 0px!important; padding: 0px!important; }
#welcome {
  background: url('') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  height: 100%;
}
#welcome .text {
  margin:0 auto;
  width: 450px;
  padding-top: 150px;
  text-align: center;
}
#welcome h1 {
  font-weight: bold;
}
.breadcrumb {
  font-size: 18px;
  font-weight: bold;
  float: left;
  margin-top: 11px;
  margin-bottom: 10px;
  padding-top: 5px;
}
.navbar-brand {
  line-height: 60px !important;
}
ul.navbar-right > li {
  margin-top:5px;
}
.connect .app-content {
  margin-left:0px;
}
.connect {
  padding-top:0px !important;
}
.connect .col-lg-6 {
  text-align: center;
}
td.users {
  width: 200px;
}
img.logo {
  height: 20px;
  margin-right: 10px;
  margin-top: -8px;
}
.masthead-brand {
  letter-spacing: 0px;
}
.setting .wrapper-md, .connect .wrapper-md {
  margin-top: 0px;
}

.pull-right-intercom{
    margin-right: 50px;
}

.input-group{
  width: 300px;
}

.form-group{
  margin-right: 10px;
}
