    <div class="site-wrapper cover">
    <div id="intro">
        <img src="/images/laptop.jpg" class="bg">
    </div>
      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
              <img src="/images/igloo2.png" alt="." class="logo" style="margin-left: -400px;">igloo
        </h3>
            </div>
          </div>

          <div class="inner">
            <h1 class="cover-heading" style="font-weight: 800;">One place, <u>all</u> your cloud files.</h1>
            <p class="lead" style="margin-bottom: 40px;">Designed for freelancers and startups. Do you have multiple Google Drive and Dropbox accounts? And hundreds of files you share with clients?</p>
            <br>
            <ul class="list-unstyled video-list-thumbs row">
            	<li class="col-lg-4">
                <img src="/images/icon_single.png" alt="." class="logo">
            		<h3>One single interface</h3>
            		<!--p>Say goodbye to account switching. And files stay on Google Drive and Dropbox.</p-->
                <p>One place to visualize all your Dropbox & Google drive files.</p>
            	</li>
            	<li class="col-lg-4">
                <img src="/images/icon_rights.png" alt="." class="logo">
            		<h3>Cloud rights management</h3>
            		<p>The easiest way to keep track of who has access to shared files.</p>
            	</li>
            	<li class="col-lg-4">
                <img src="/images/icon_versioncontrol.png" alt="." class="logo">
            		<h3>Newsfeed and version control</h3>
            		<p>See who edits cloud files to stay on top of developments. </p>
            	</li>
            </ul>
            <br>
            <p class="lead">
              <% if (typeof message != 'undefined') { %>
                <%= message %>
              <% } else { %>
                <form class="form-inline" role="form" action="/subscribe" method="post">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="email" placeholder="Get early access - enter your email here" class="form-control no-border" name="email" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-lg btn-default btn-signup" >Sign up</button>

                </form>
              <% } %>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
             <p>© 2014 igloo - hello@hiigloo.com - Handcrafted in Copenhagen</p>
            </div>
          </div>

        </div>
      </div>
    </div>
