    <div class="site-wrapper cover">
    <div id="intro">
        <img src="/images/snow.jpg" class="bg">
    </div>
      <div class="site-wrapper-inner">

        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">
              <img src="/images/igloo2.png" alt="." class="logo">igloo
        </h3>
            </div>
          </div>

          <div class="inner">
            <h1 class="cover-heading" style="font-weight: 800;">One place, <u>all</u> your cloud files. <br/> Designed for freelancers.</h1>
            <p class="lead">Do you have multiple Google Drive and Dropbox accounts? Hundreds of files you share with clients?</p>
            <p class="lead">Introducing a single interface. No more account switching, and everything stays secure where it is - on Google Drive and Dropbox.</p>
<br>
<ul class="list-unstyled video-list-thumbs row">
	<li class="col-lg-4">
		<h3>One login</h3>
		<p>All your accounts in one place.</p>
	</li>
	<li class="col-lg-4">
		<h3>Across all groups</h3>
		<p>Get notifications from all your groups.</p>
	</li>
	<li class="col-lg-4">
		<h3>Security by default</h3>
		<p>We care about your files <3.</p>
	</li>
</ul>
<br>
            <p class="lead">
              <a href="/user/new" class="btn btn-lg btn-default btn-signup">Sign up</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
             <p>© 2014 igloo - hello@hiigloo.com - Handcrafted in Copenhagen</p>
            </div>
          </div>

        </div>
      </div>
    </div>
<script>
mixpanel.track("Landingpage view",{
    "version": "0.1.0"
});
</script>
